<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vuelab: very simple todo</title>
  <style type="text/less">
    * { margin: 0; padding: 0; box-sizing: border-box; }
  </style>
</head>

<body>
  <div id="app">

    <div><ol>
      <todo-item
        v-for="todo in todos"
        :prop1="todo.txt"
        :key="todo.id"
      />
    </ol></div>

    <input
      v-model="newTodo"
      @keyup.enter="addTodo"
      placeholder="Add a new todo"
    >

  </div>

  <script src="http://localhost:9091/babel/babel-standalone@7.0.0-alpha.20.min.js"></script>
  <script src="http://localhost:9091/babel/babel-polyfill@7.0.0-alpha.20.min.js"></script>
  <script src="http://localhost:9091/vue/vue.js"></script>
  <script src="http://localhost:9091/less/dist/less.min.js"></script>
  <script src="http://localhost:9091/lodash/lodash-4.17.10.min.js"></script>

  <script type="text/babel" >
    Vue.component('todo-item', {
      props: ['prop1'],
      template: '<li>{{prop1}}</li>'
    })

    let app = new Vue({
      el: '#app',
      data() {
        return {
          todos: [ {id:1, txt:'buy milk'} , {id:2, txt:'buy vege'} ],
          newTodo: ''
        }
      },
      methods: {
        addTodo() {
          this.todos.push({id:_.uniqueId('todo'), txt: this.newTodo})
          this.newTodo = ''
        },
      }
    });

  </script>
</body>

</html>
