<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vue lab</title>
  <style type="text/less">
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body {
      padding-top:100px;
    }
  </style>
</head>

<body>
  <div id="app">
    <hr>

      <div :title="message">hover mouse over me to see title</div>

    <hr>

      <div>{{ message }}</div>
      <input v-model="message">
      </br>
      <button @click="reverseMsg">Reverse Message</button>

    <hr>

      <button @click="handleHide">{{buttonText}}</button>
      <div v-if="isVisible">now u see me</div>
      <div v-else="isVisible"></br></div>

    <hr>

      <div>
        <ol><li v-for="item in collection" v-html="item"/></ol>
      </div>

    <hr>

      <div><ol>
        <todo-item
          v-for="todo in todos"
          :prop1="todo.txt"
          :key="todo.id"
        />
      </ol></div>

    <input
      v-model="newTodo"
      @keyup.enter="addTodo"
      placeholder="Add a new todo"
    >

    </br>

  </div>
  <script src="http://localhost:9091/less/dist/less.js"></script>
  <script src="http://localhost:9091/lodash.js"></script>
  <script src="http://localhost:9091/vue.js"></script>
  <script>
    Vue.component('todo-item', {
      props: ['prop1'],
      template: '<li>{{prop1}}</li>'
    })

    let app = new Vue({
      el: '#app',
      data() {
        return {
          message: 'hello world',
          isVisible:true,
          collection: [ 'a', 'b', 'c' ],
          todos: [ {id:1, txt:'buy milk'} , {id:2, txt:'buy vege'} ],
          newTodo: ''
        }
      },
      computed: {
        buttonText() {
          const showOrHide = (this.isVisible) ? 'hide' : 'show'
          return `click me to ${showOrHide}`
        }
      },
      methods: {
        reverseMsg() {
          console.log('message reversed')
          this.message = this.message.split(' ').reverse().join(' ')
        },
        addTodo() {
          this.todos.push({id:_.uniqueId('todo'), txt: this.newTodo})
          this.newTodo = ''
        },
        handleHide() {
          this.isVisible = (this.isVisible) ? false : true
        }
      }
    });

    setTimeout(()=>{
      console.log('changed')
      app.seen = true
      app.collection.push('e')
    }, 2000)

  </script>
</body>

</html>
