<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vue lab</title>
  <style type="text/less">
    * { margin: 0; padding: 0; box-sizing: border-box; }
  </style>
</head>

<body>
  <div id="app">
    <hr><br>

      <div :title="message">hover mouse over me to see title</div>

    <br><hr><br>

      <div>{{ message }}</div>
      <input v-model="message">
      </br>
      <button @click="reverseMsg">Reverse Message</button>

    <br><hr><br>

      <button @click="handleHide">{{buttonText}}</button>
      <div v-if="isVisible">now u see me</div>
      <div v-else></br></div>

    <br><hr><br>

      <button @click="show = !show">{{`show = ${show}`}}</button>
      <div v-if="show">now u see me</div>
      <div v-else></br></div>

    <br><hr><br>

      <div>
        <ol><li v-for="item in collection" v-html="item"/></ol>
      </div>

  </div>
  <script src="http://localhost:9091/babel/babel-standalone@7.0.0-alpha.20.min.js"></script>
  <script src="http://localhost:9091/babel/babel-polyfill@7.0.0-alpha.20.min.js"></script>
  <script src="http://localhost:9091/vue/vue.js"></script>
  <script src="http://localhost:9091/less/dist/less.min.js"></script>
  <script src="http://localhost:9091/lodash/lodash-4.17.10.min.js"></script>

  <script type="text/babel" >
    let app = new Vue({
      el: '#app',
      data() {
        return {
          show:true,
          message: 'hello world',
          isVisible:true,
          collection: [ 'a', 'b', 'c' ],
        }
      },
      computed: {
        buttonText() {
          const showOrHide = (this.isVisible) ? 'hide' : 'show'
          return `click me to ${showOrHide}`
        }
      },
      methods: {
        reverseMsg() {
          console.log('message reversed')
          this.message = this.message.split(' ').reverse().join(' ')
        },
        handleHide() {
          this.isVisible = (this.isVisible) ? false : true
        }
      }
    });

    setTimeout(()=>{
      console.log('changed')
      app.collection.push('e')
    }, 2000)

  </script>
</body>

</html>
