<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vue lab</title>
  <style type="text/less">
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body {
      padding-top:100px;
    }
  </style>
</head>

<body>
<script src="http://localhost:9091/less/dist/less.js"></script>
<script src="http://localhost:9091/lodash.js"></script>
<script src="http://localhost:9091/vue.js"></script>

<div id="app">
  <span v-for="opt in opts">
    <label :for="opt.v">{{opt.v}}</label>
    <input
      type="checkbox"
      :id="opt.v"
      :value="opt.v"
      v-model="checked" >
  </span>
  <br>
  <span>Checked: {{ checked }}</span>
</div>

<script>
Vue.config.devtools = true;

new Vue({
  el: '#app',
  data: {
    opts: [{v:1}, {v:2}],
    checked: [1, 2]
  },
})
</script>

<hr/>

<div id="app2">
  <checkbox-item v-for="opt in _opts" :opt="opt" @is-checked="handleCheck(opt, $event)"></checkbox-item>
  <br>
  <span>Checked: {{ checked }}</span>
</div>

<script>
Vue.component('checkbox-item', {
  props: {
    opt: { type: Object,
      default() {return {value: undefined}}
     }
  },
  data() { return { value: this.opt.v, isChecked: this.opt.checked } },
  watch: {
    isChecked(v) { this.$emit('is-checked', this.isChecked) }
  },
  template: `
  <span>
    <label :for="value">{{value}}</label>
    <input
      type="checkbox"
      :id="value"
      v-model="isChecked"
    >
  </span>
  `
})

new Vue({
  el: '#app2',
  data: {
    opts: [{v:'a'}, {v:'b'}],
    checked: ['a', 'b']
  },
  computed: {
    _opts() {
      return this.opts.map(d=>( {
        ...d,
        checked: _.includes(this.checked, d.v)
      }))
    }
  },
  methods: {
    handleCheck (opt, isChecked) {
      isChecked ?
        this.checked.push(opt.v) :
        (this.checked = this.checked.filter(d=>d !== opt.v))
    }
  }
})

// https://medium.com/@sky790312/about-vue-2-parent-to-child-props-af3b5bb59829
// https://stackoverflow.com/questions/41812917/vue-2-receive-event-arguments-and-scope-variable-in-event-handler?noredirect=1&lq=1
</script>
</body>

</html>

